::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-100) / 1);
  background-color: rgb(var(--color-gray-100) / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-300) / 1);
  background-color: rgb(var(--color-gray-300) / var(--tw-bg-opacity));
  border-radius: 0.6em;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

.dark {
  ::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray-800) / 1);
    background-color: rgb(var(--color-gray-800) / var(--tw-bg-opacity));
  }

  ::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray-700) / 1);
    background-color: rgb(var(--color-gray-700) / var(--tw-bg-opacity));
    border-radius: 0.6em;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    height: 0.6em;
    width: 0.6em;
  }
}
